@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("./assets/fonts/AlteHaasGroteskRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Alte Haas Grotesk Bold";
  src: url("./assets/fonts/AlteHaasGroteskBold.ttf") format("truetype");
}

body {
  margin: 0;
}
